.section {
    padding: 20px;
    background-color: #000; 
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .gridContainer {
    margin-top: 20px;
  }
  .tabs {
    border-bottom: 2px solid green !important; 
  }
  
  .tab {
    color: white !important;
  }
  
  .tab:hover {
    color: green !important; 
  }
  
  .selectedTab{
    color: white !important; 
  }
  